@import './variables.scss';
@import './sidebar.scss';
// 样式重置
@import 'normalize.scss';
// 公共样式
@import 'free.scss';
// 图标样式
@import 'icon.scss';


// color
.color-white{
    color: #ffffff;
}
// font-size
.fs-12{
    font-size: 12px;
}

// 公共页面设置
.app-content{
  position: relative;
  background: #ffffff;
  padding: 20px;
  margin: 24px 16px;
  border-radius: 5px;
  min-height: calc(100vh - 132px) !important;
    aside {
        background: #eef1f6;
        padding: 8px 24px;
        margin-bottom: 20px;
        border-radius: 2px;
        display: block;
        line-height: 32px;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        color: #2c3e50;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    // 搜索项
    .search-form{
        margin-bottom: 5px;
        .ant-form-item{
            margin-bottom: 15px;
            .ant-select-single,input{width: 200px;}
            .ant-btn{
                margin-right: 8px;
            }
        }
    }
    // 表格配置
    .table-config{
        margin-bottom: 15px;
    }
    // 分页
    .table-pagination{
        margin-top: 15px;
        text-align: right;
    }
}
// 普通页面样式
.app-box {
    margin: 24px 16px;
    // 左右结构表格样式
    .app-box-table {
      display: flex;
      .box-card {
        width: 20%;
        margin-right: 15px;
      }
      .app-box-table-box {
        width: 79%;
        background: #ffffff;
        // flex: 1;
        padding: 20px;
        // 搜索项
        .search-form {
          margin-bottom: 5px;
          .ant-form-item {
            margin-bottom: 15px;
            .ant-select-single,
            input {
              width: 200px;
            }
            .ant-btn {
              margin-right: 8px;
            }
          }
        }
        // 表格配置
        .table-config {
          margin-bottom: 15px;
        }
        // 分页
        .table-pagination {
          margin-top: 15px;
          text-align: right;
        }
      }
    }
  }
  
  // 详情页面样式
  .app-info {
    .app-info-top {
      background: #ffffff;
      padding: 15px;
    }
    .app-info-content {
      margin: 24px 16px;
      background: #ffffff;
      padding: 20px;
      .app-info-content-item {
        margin-bottom: 20px;
        .app-info-content-item-title {
          margin-bottom: 15px;
        }
      }
    }
  }
// 弹出框样式
.table-modal{
    // 弹出框标题增加蓝色伪类样式
    .ant-modal-title{
        display: flex;
        align-items: center;
    }
    .ant-modal-title:before{
        display: inline-block;
        margin-right: 8px;
        content: '';
        width: 3px;
        height: 18px;
        background: #1890ff;
    }
    // 弹出框内容区域样式
    .table-modal-content{
        
    }
}

/* 滚动条布局 */
.scroll-y {
  overflow: scroll;
  overflow-x: hidden !important;
}
.scroll-x {
  overflow: scroll;
  overflow-y: hidden !important;
}

/* 滚动条样式 begin */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  width: 8px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
// 鼠标放上去滚动条颜色
::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 147, 153, 0.8);
}

* {//Firefox浏览器滚动条样式
  scrollbar-color: #e5e5e5 #f7f7f9; //滚动条轨道颜色、滚动条滑块的颜色
  scrollbar-width: thin;     //thin模式下滚动条两端的三角按钮会消失
}